@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

/* Target all scrollable containers */
.scroll-container {
  overflow-x: auto;
  scrollbar-width: thin; /* Firefox: Make scrollbar thin */
  scrollbar-color: #6366f1 #2d2d3d; /* Firefox: Thumb color and track color */
}

/* WebKit-based browsers */
.scroll-container::-webkit-scrollbar {
  height: 8px; /* Height for horizontal scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
  background: #2d2d3d; /* Dark gray background for the track */
  border-radius: 10px; /* Rounded track edges */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #6366f1; /* Indigo thumb */
  border-radius: 10px; /* Rounded thumb */
  border: 2px solid #2d2d3d; /* Padding around thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5; /* Darker indigo on hover */
}
